body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #f0f0f0;
}

.crypto-box {
    display:flex;
    justify-content: space-evenly;
    table{
        width:100%;
        th{
            padding: 1rem;
            border: 1px solid #ccc;
            text-align: left;
        }
        td{
            padding: 1rem;
            border: 1px solid #ccc;
            text-align: left;
        }
    }

}